<mat-sidenav-container class="container">
    <mat-sidenav #drawer #sidenav mode="side" opened>
    <mat-toolbar>ADMIN DGE</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon> Dashboard
        </a>
        <a mat-list-item routerLink="/periode" routerLinkActive="active">
          <mat-icon>event</mat-icon> Gérer Période
        </a>
        <a mat-list-item routerLink="/importe" routerLinkActive="active">
          <mat-icon>upload</mat-icon> Importer Électeurs
        </a>
        <a mat-list-item routerLink="/candidat" routerLinkActive="active">
          <mat-icon>people</mat-icon> Liste Candidats
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Plateforme de Parrainage</span>
      </mat-toolbar>
      
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  