

  
  <title>Connexion - Admin DGE</title>
  <link rel="stylesheet" type="text/css" href="login.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

<div class="lite">
  <div class="wrapper">
    <div class="title"><span>Admin DGE</span></div>
    <form (ngSubmit)="onLogin()">
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Mot de passe" required />
      </div>
      <div class="pass"><a href="#">Mot de passe oublié ?</a></div>
      <div class="row button">
        <input type="submit" value="Connexion" />
      </div>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </form>
    
  </div>
</div>