<div class="dashboard">
  <h2>Tableau de Bord</h2>

  <div class="stats">
    <mat-card class="stat-card red">
      <h3>{{ totalParrainages }}</h3>
      <p>Parrainages validés</p>
    </mat-card>
    <mat-card class="stat-card purple">
      <h3>{{ candidats.length }}</h3>
      <p>Candidats enregistrés</p>
    </mat-card>
    <mat-card class="stat-card blue">
      <h3>{{ totalElecteurs }}</h3>
      <p>Nombre total d'Electeur</p>
    </mat-card>
  </div>

  <h3>Période de Parrainage</h3>
  <p>Début : {{ periode.dateDebut }} - Fin : {{ periode.dateFin }}</p>

  <h3>Liste des Candidats</h3>
  <table mat-table [dataSource]="candidats" class="mat-elevation-z8">
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let candidat"> {{ candidat.nom }} </td>
    </ng-container>
    <ng-container matColumnDef="parti">
      <th mat-header-cell *matHeaderCellDef> Parti </th>
      <td mat-cell *matCellDef="let candidat"> {{ candidat.partiPolitique }} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['nom', 'parti']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['nom', 'parti'];"></tr>
  </table>
</div>
