.container {
    max-width: 500px;
    background: white;
    padding: 20px;
    margin: 40px 350px ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.text-danger {
    font-size: 0.9em;
}
.text-success {
    font-weight: bold;
}
