<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Électeurs</title>
    <link rel="stylesheet" href="users.component.css">
</head>
<body>

    <h2>Liste des Électeurs</h2>

    <table>
        <thead>
            <tr>
                <th>Numero Carte electeur </th>
                <th> Num CIN  </th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance </th>
                <th> Lieu de naissance </th>
                <th>Sexe</th>
                <th> Bureau de vote  </th>
                
            </tr>
        </thead>
        <tbody id="electeurs-body">
            <!-- Les électeurs seront ajoutés dynamiquement ici -->
        </tbody>
    </table>

    <script src="script.js"></script>

</body>
</html>
