<div class="container">
    <h2>Importation du fichier électoral</h2>
    
    <form [formGroup]="uploadForm" (ngSubmit)="submitForm()">
        <!-- Champ pour l'empreinte SHA256 -->
        <label for="checksum">Empreinte CHECKSUM (SHA256) :</label>
        <input type="text" id="checksum" formControlName="checksum" placeholder="Entrer la valeur SHA256" required>
        <div *ngIf="uploadForm.get('checksum')?.invalid && uploadForm.get('checksum')?.touched" class="error">
            L'empreinte SHA256 doit contenir 64 caractères.
        </div>

        <!-- Champ pour uploader le fichier -->
        <label for="file">Fichier CSV :</label>
        <input type="file" id="file" (change)="onFileChange($event)" accept=".csv" required>
        <div *ngIf="uploadForm.get('file')?.invalid && uploadForm.get('file')?.touched" class="error">
            Veuillez sélectionner un fichier CSV.
        </div>

        <!-- Bouton d'importation -->
        <button type="submit" [disabled]="uploadForm.invalid">Importer</button>

        <!-- Message d'état -->
        <p [ngClass]="messageClass">{{ message }}</p>
    </form>
</div>
