<div class="dashboard-container">
    <h2>Évolution des Parrainages</h2>
  
    <!-- Graphique des parrainages -->
    <ngx-charts-bar-vertical
      [results]="chartData"
      [scheme]="'cool'"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Candidats"
      yAxisLabel="Nombre de Parrainages">
    </ngx-charts-bar-vertical>
  
    <!-- Tableau des statistiques -->
    <table mat-table  class="mat-elevation-z8">
      <ng-container matColumnDef="candidat">
        <th mat-header-cell *matHeaderCellDef> Candidat </th>
        <td mat-cell *matCellDef="let p"> {{ p.candidat }} </td>
      </ng-container>
  
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre de Parrainages </th>
        <td mat-cell *matCellDef="let p"> {{ stats[p.candidat] }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['candidat', 'nombre']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['candidat', 'nombre'];"></tr>
    </table>
  </div>
  