
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="sidebar.component.css" />

  <aside class="sidebar">
    <div class="sidebar-header">
      
      <h2>Admin DGE</h2>
    </div>
    <ul class="sidebar-links">
      <h4>
        <span>Main Menu</span>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a routerLink="/periodeparrainage"><span class="material-symbols-outlined"> overview </span>Periode Parrainages</a>
      </li>
      <li>
        <a routerLink="/candidat"><span class="material-symbols-outlined"> overview </span>Candidat</a>
      </li>
      <li>
        <a routerLink="/listecandidat"><span class="material-symbols-outlined"> overview </span>Liste Candidat</a>
      <li>
        <a routerLink="/fichierelectoral"><span class="material-symbols-outlined"> overview </span>Fichier Electoral</a>
      </li>
      <li>
        <a routerLink="/suiviparrainage"><span class="material-symbols-outlined"> monitoring </span>Suivi Parrainages</a>
      </li>
      
      <h4>
        <span>Account</span>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a href="#"><span class="material-symbols-outlined"> settings </span>Settings</a>
      </li>
      <li>
        <a routerLink="**" (ngSubmit)="logout()" ><span class="material-symbols-outlined"> logout </span>Logout</a>
      </li>
    </ul>
    <div class="user-account">
      <div class="user-profile">
       
        <div class="user-detail">
          <h3>Espace DGE</h3>
          <span>Admin</span>
        </div>
      </div>
    </div>
  </aside>

