<div class="dashboard">
    <h2>Tableau de Bord</h2>
  
    <div class="stats">
      
        <h3></h3>
        <p>Parrainages validés</p>
      
      
        <h3></h3>
        <p>Candidats enregistrés</p>
      
      
        <h3></h3>
        <p>Nombre total d'Electeur</p>
      
    </div>
  
    <h3>Période de Parrainage</h3>
    <p>Début :   - Fin : </p>
  
    <h3>Liste des Candidats</h3>
    <table mat-table  class="mat-elevation-z8">
      <ng-container matColumnDef="nom">
        <th mat-header-cell > Nom </th>
        <td mat-cell >  </td>
      </ng-container>
      <ng-container matColumnDef="parti">
        <th mat-header-cell > Parti </th>
        <td mat-cell >  </td>
      </ng-container>
      <tr mat-header-row ></tr>
      <tr mat-row ></tr>
    </table>
  </div>
  